[submodule "imgui"]
	path = PingSight/vendor/imgui
	url = https://github.com/ccameron2/imgui
[submodule "SDL"]
	path = PingSight/vendor/SDL
	url = https://github.com/ccameron2/SDL
[submodule "implot"]
	path = PingSight/vendor/implot
	url = https://github.com/epezent/implot
[submodule "imcmplib"]
	path = PingSight/vendor/icmplib
	url = https://github.com/markondej/cpp-icmplib
[submodule "PingSight/Vendor/plf_nanotimer"]
	path = PingPlotter/Vendor/plf_nanotimer
	url = https://github.com/mattreecebentley/plf_nanotimer
[submodule "PingSight/vendor/plf_nanotimer"]
	path = PingPlotter/vendor/plf_nanotimer
	url = https://github.com/mattreecebentley/plf_nanotimer
[submodule "PingSight/vendor/stb"]
	path = PingPlotter/vendor/stb
	url = https://github.com/nothings/stb
